hr{
  margin: 5px 0 5px 0;
}

.logoImg{
  width: 200px;
}

.logoImg:hover{
  cursor: pointer;
  width: 200px;
  border-radius: 100%;
  outline: 2px solid rgb(255, 255, 255);
}

.upgradeButton{
  width: 200px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: rgb(206, 206, 206);
  background-color: transparent;
}