hr{
  margin: 5px 0 5px 0;
}

.logoImg{
  width: 200px;
}

.logoImg:hover{
  cursor: pointer;
  width: 200px;
  border-radius: 100%;
  outline: 2px solid rgb(255, 255, 255);
}

.upgradeButton{
  width: 200px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 20px;
  margin: 10px 0 10px 0;
  color: rgb(206, 206, 206);
  background-color: transparent;
  transition: 300ms ease;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.upgradeButton:hover{
  outline: 2px solid rgb(255, 255, 255);
}

.upgradeButtonDisabled{
  background-color: rgb(114, 114, 114);
}

.upgradeButtonDisabled:hover{
  cursor:not-allowed;
  outline: none;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}